---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [60]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [61]:
Uttxt=pd.read_table('university_towns.txt', header=None)
print(Uttxt.iloc[0][0].split('(')[0])
print(type(Uttxt.iloc[0]))
print(type(Uttxt))
print(Uttxt)

df_Utowns = pd.DataFrame(columns=['State', 'RegionName'])

Alabama[edit]
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
                                                     0
0                                        Alabama[edit]
1                        Auburn (Auburn University)[1]
2               Florence (University of North Alabama)
3      Jacksonville (Jacksonville State University)[2]
4           Livingston (University of West Alabama)[2]
5             Montevallo (University of Montevallo)[2]
6                            Troy (Troy University)[2]
7    Tuscaloosa (University of Alabama, Stillman Co...
8                    Tuskegee (Tuskegee University)[5]
9                                         Alaska[edit]
10       Fairbanks (University of Alaska Fairbanks)[2]
11                                       Arizona[edit]
12          Flagstaff (Northern Arizona University)[6]
13                    Tempe (Arizona State University)
14                      Tucson (University of Arizona)
15                                      Arkansas[edit]
16   Arkadelphia (Henderson State University, Ouach...
17   Conway (Central Baptist College, Hendrix Colle...
18            Fayetteville (University of Arkansas)[7]
19            Jonesboro (Arkansas State University)[8]
20          Magnolia (Southern Arkansas University)[2]
21   Monticello (University of Arkansas at Monticel...
22          Russellville (Arkansas Tech University)[2]
23                      Searcy (Harding University)[5]
24                                    California[edit]
25                   Angwin (Pacific Union College)[2]
26               Arcata (Humboldt State University)[5]
27    Berkeley (University of California, Berkeley)[5]
28       Chico (California State University, Chico)[2]
29   Claremont (Claremont McKenna College, Pomona C...
..                                                 ...
537          Cheney (Eastern Washington University)[2]
538      Ellensburg (Central Washington University)[5]
539           Pullman (Washington State University)[5]
540  University District, Seattle (University of Wa...
541                                West Virginia[edit]
542                     Athens (Concord University)[2]
543     Buckhannon (West Virginia Wesleyan College)[2]
544            Fairmont (Fairmont State University)[2]
545             Glenville (Glenville State College)[2]
546                Huntington (Marshall University)[2]
547  Montgomery (West Virginia University Institute...
548           Morgantown (West Virginia University)[2]
549             Shepherdstown (Shepherd University)[2]
550          West Liberty (West Liberty University)[2]
551                                    Wisconsin[edit]
552                     Appleton (Lawrence University)
553    Eau Claire (University of Wisconsin–Eau Claire)
554      Green Bay (University of Wisconsin-Green Bay)
555  La Crosse (University of Wisconsin–La Crosse, ...
556       Madison (University of Wisconsin–Madison)[2]
557       Menomonie (University of Wisconsin–Stout)[2]
558  Milwaukee (Marquette University, University of...
559          Oshkosh (University of Wisconsin–Oshkosh)
560  Platteville (University of Wisconsin–Plattevil...
561  River Falls (University of Wisconsin–River Fal...
562  Stevens Point (University of Wisconsin–Stevens...
563                      Waukesha (Carroll University)
564  Whitewater (University of Wisconsin–Whitewater...
565                                      Wyoming[edit]
566                 Laramie (University of Wyoming)[5]

[567 rows x 1 columns]

In [62]:
j=0
for i in range(len(Uttxt)):
    if Uttxt.iloc[i].str.contains('[edit]', regex=False).bool():
        state=Uttxt.iloc[i][0].replace('[edit]', '')
    else:
        region=Uttxt.iloc[i][0].split(' (')[0]
        df_Utowns.loc[j]=[state, region]
        j+=1
print(df_Utowns)
print(len(df_Utowns['State'].unique()))
print(Uttxt[0].str.contains('[edit]', regex=False).sum())

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]
50
50

In [63]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
        
    return df_Utowns

In [64]:
df_gdp=pd.read_excel('gdplev.xls', skiprows=219, usecols=[4, 6])
df_gdp.columns=['Quarterly', 'GDP']
df_gdp=df_gdp.set_index('Quarterly')
print(df_gdp.iloc[20:])

               GDP
Quarterly
2005q1     14099.1
2005q2     14172.7
2005q3     14291.8
2005q4     14373.4
2006q1     14546.1
2006q2     14589.6
2006q3     14602.6
2006q4     14716.9
2007q1     14726.0
2007q2     14838.7
2007q3     14938.5
2007q4     14991.8
2008q1     14889.5
2008q2     14963.4
2008q3     14891.6
2008q4     14577.0
2009q1     14375.0
2009q2     14355.6
2009q3     14402.5
2009q4     14541.9
2010q1     14604.8
2010q2     14745.9
2010q3     14845.5
2010q4     14939.0
2011q1     14881.3
2011q2     14989.6
2011q3     15021.1
2011q4     15190.3
2012q1     15291.0
2012q2     15362.4
2012q3     15380.8
2012q4     15384.3
2013q1     15491.9
2013q2     15521.6
2013q3     15641.3
2013q4     15793.9
2014q1     15747.0
2014q2     15900.8
2014q3     16094.5
2014q4     16186.7
2015q1     16269.0
2015q2     16374.2
2015q3     16454.9
2015q4     16490.7
2016q1     16525.0
2016q2     16583.1

In [65]:
df_recession=pd.DataFrame(columns=['start', 'bottom', 'end'])

start=None
bottom=None
end=None
i=0
k=0
while i<(len(df_gdp)-2):
    print('i',i, '  start', start, bottom, end)
    if start==None:
        # find the start of recession
        if df_gdp.iloc[i][0]>df_gdp.iloc[i+1][0] and df_gdp.iloc[i+1][0]>df_gdp.iloc[i+2][0] :
            start=df_gdp.iloc[[i]].index[0]
            i+=2
        else:
            i+=1
    else:
        # recession already started, find the end of the recession
        if i<(len(df_gdp)-2) and df_gdp.iloc[i][0]<df_gdp.iloc[i+1][0] and df_gdp.iloc[i+1][0]<df_gdp.iloc[i+2][0] :
            #while i<(len(df_gdp)-2) and df_gdp.iloc[i][0]<df_gdp.iloc[i+1][0] and df_gdp.iloc[i+1][0]<df_gdp.iloc[i+2][0] :
            
            end=df_gdp.iloc[[i+2]].index[0]            
            bottom=df_gdp.loc[start:end].idxmin()[0]
            # print([start, bottom, end])
            df_recession.loc[k]=[start, bottom, end]
            
            start=None
            bottom=None
            end=None
            k+=1
            i+=2
        else:
            i+=1

print(df_recession)

i 0   start None None None
i 1   start None None None
i 2   start None None None
i 3   start None None None
i 4   start None None None
i 5   start None None None
i 6   start None None None
i 7   start None None None
i 8   start None None None
i 9   start None None None
i 10   start None None None
i 11   start None None None
i 12   start None None None
i 13   start None None None
i 14   start None None None
i 15   start None None None
i 16   start None None None
i 17   start None None None
i 18   start None None None
i 19   start None None None
i 20   start None None None
i 21   start None None None
i 22   start None None None
i 23   start None None None
i 24   start None None None
i 25   start None None None
i 26   start None None None
i 27   start None None None
i 28   start None None None
i 29   start None None None
i 30   start None None None
i 31   start None None None
i 32   start None None None
i 33   start None None None
i 35   start 2008q2 None None
i 36   start 2008q2 None None
i 37   start 2008q2 None None
i 39   start None None None
i 40   start None None None
i 41   start None None None
i 42   start None None None
i 43   start None None None
i 44   start None None None
i 45   start None None None
i 46   start None None None
i 47   start None None None
i 48   start None None None
i 49   start None None None
i 50   start None None None
i 51   start None None None
i 52   start None None None
i 53   start None None None
i 54   start None None None
i 55   start None None None
i 56   start None None None
i 57   start None None None
i 58   start None None None
i 59   start None None None
i 60   start None None None
i 61   start None None None
i 62   start None None None
i 63   start None None None
    start  bottom     end
0  2008q2  2009q2  2009q4

In [66]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    return df_recession['start'][0] # 2008q2  2009q2  2009q4

In [67]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return df_recession['end'][0] # 2008q2  2009q2  2009q4

In [68]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    return df_recession['bottom'][0] # 2008q2  2009q2  2009q4

In [69]:
df_house = pd.read_csv('City_Zhvi_AllHomes.csv')
print(df_house)
df_house.columns[(-16*12-8):]

       RegionID           RegionName State                           Metro  \
0          6181             New York    NY                        New York
1         12447          Los Angeles    CA  Los Angeles-Long Beach-Anaheim
2         17426              Chicago    IL                         Chicago
3         13271         Philadelphia    PA                    Philadelphia
4         40326              Phoenix    AZ                         Phoenix
5         18959            Las Vegas    NV                       Las Vegas
6         54296            San Diego    CA                       San Diego
7         38128               Dallas    TX               Dallas-Fort Worth
8         33839             San Jose    CA                        San Jose
9         25290         Jacksonville    FL                    Jacksonville
10        20330        San Francisco    CA                   San Francisco
11        10221               Austin    TX                          Austin
12        17762              Detroit    MI                         Detroit
13        10920             Columbus    OH                        Columbus
14        32811              Memphis    TN                         Memphis
15        24043            Charlotte    NC                       Charlotte
16        17933              El Paso    TX                         El Paso
17        44269               Boston    MA                          Boston
18        16037              Seattle    WA                         Seattle
19         3523            Baltimore    MD                       Baltimore
20        11093               Denver    CO                          Denver
21        41568           Washington    DC                      Washington
22         6118            Nashville    TN                       Nashville
23         5976            Milwaukee    WI                       Milwaukee
24         7481               Tucson    AZ                          Tucson
25        13373             Portland    OR                        Portland
26        33225        Oklahoma City    OK                   Oklahoma City
27        40152                Omaha    NE                           Omaha
28        23429          Albuquerque    NM                     Albuquerque
29        18203               Fresno    CA                          Fresno
...         ...                  ...   ...                             ...
10700     49199       Granite Shoals    TX                             NaN
10701     49693          Piney Point    MD       California-Lexington Park
10702     50374              Maribel    WI                       Manitowoc
10703     50539            Middleton    ID                      Boise City
10704     50963              Bennett    CO                          Denver
10705     51793       East Hampstead    NH                          Boston
10706     52166          Garden City    MO                     Kansas City
10707     53456         Mountainburg    AR                      Fort Smith
10708     53730             Oostburg    WI                       Sheboygan
10709     54771           Twin Peaks    CA                       Riverside
10710     54802     Upper Brookville    NY                        New York
10711     54995              Volcano    HI                            Hilo
10712     55072           Wedgefield    SC                          Sumter
10713     55210          Williamston    MI                         Lansing
10714     55357              Decatur    AR                    Fayetteville
10715     55476           Briceville    TN                       Knoxville
10716     55706             Edgewood    IN                    Indianapolis
10717     56183              Palmyra    TN                     Clarksville
10718     56845        Saint Inigoes    MD       California-Lexington Park
10719     56943           Marysville    IN     Louisville/Jefferson County
10720     57212         Forest Falls    CA                       Riverside
10721    171874           Bois D Arc    MO                     Springfield
10722    182023              Henrico    VA                        Richmond
10723    188693        Diamond Beach    NJ                      Ocean City
10724    227014       Gruetli Laager    TN                             NaN
10725    398292  Town of Wrightstown    WI                       Green Bay
10726    398343               Urbana    NY                         Corning
10727    398496          New Denmark    WI                       Green Bay
10728    398839               Angels    CA                             NaN
10729    399114              Holland    WI                       Sheboygan

                 CountyName  SizeRank   1996-04   1996-05   1996-06   1996-07  \
0                    Queens         1       NaN       NaN       NaN       NaN
1               Los Angeles         2  155000.0  154600.0  154400.0  154200.0
2                      Cook         3  109700.0  109400.0  109300.0  109300.0
3              Philadelphia         4   50000.0   49900.0   49600.0   49400.0
4                  Maricopa         5   87200.0   87700.0   88200.0   88400.0
5                     Clark         6  121600.0  120900.0  120400.0  120300.0
6                 San Diego         7  161100.0  160700.0  160400.0  160100.0
7                    Dallas         8       NaN       NaN       NaN       NaN
8               Santa Clara         9  224500.0  224900.0  225400.0  226100.0
9                     Duval        10   77500.0   77200.0   76800.0   76600.0
10            San Francisco        11  262500.0  263500.0  264100.0  265000.0
11                   Travis        12       NaN       NaN       NaN       NaN
12                    Wayne        13       NaN       NaN       NaN       NaN
13                 Franklin        14   83100.0   83200.0   83300.0   83500.0
14                   Shelby        15   60600.0   60500.0   60700.0   60800.0
15              Mecklenburg        16   94500.0   94900.0   95700.0   96400.0
16                  El Paso        17   67400.0   67800.0   68000.0   68300.0
17                  Suffolk        18  123100.0  122800.0  123100.0  123800.0
18                     King        19  164400.0  163900.0  163600.0  163400.0
19           Baltimore City        20   53200.0   53900.0   54400.0   54700.0
20                   Denver        21   98700.0   99200.0   99600.0  100200.0
21     District of Columbia        22       NaN       NaN       NaN       NaN
22                 Davidson        23   83100.0   83800.0   84800.0   85900.0
23                Milwaukee        24   68100.0   68100.0   68100.0   67800.0
24                     Pima        25   91500.0   91500.0   91600.0   91500.0
25                Multnomah        26  121100.0  122200.0  123000.0  123600.0
26                 Oklahoma        27   64900.0   65400.0   65700.0   65800.0
27                  Douglas        28   88900.0   89600.0   90400.0   90800.0
28               Bernalillo        29  115400.0  115600.0  116000.0  116700.0
29                   Fresno        30   90400.0   90400.0   90200.0   90000.0
...                     ...       ...       ...       ...       ...       ...
10700                Burnet     10701       NaN       NaN       NaN       NaN
10701           Saint Marys     10702  148400.0  152300.0  153600.0  153100.0
10702             Manitowoc     10703       NaN       NaN       NaN       NaN
10703                Canyon     10704  103100.0  103200.0  103300.0  103000.0
10704                 Adams     10705   83800.0   85900.0   87100.0   88100.0
10705            Rockingham     10706  132200.0  128600.0  125500.0  125200.0
10706                  Cass     10707       NaN       NaN       NaN       NaN
10707              Crawford     10708   55600.0   55500.0   55400.0   56200.0
10708             Sheboygan     10709   86300.0   84900.0   83800.0   83700.0
10709        San Bernardino     10710   85500.0   85200.0   84600.0   84400.0
10710                Nassau     10711  897200.0  894000.0  891300.0  894400.0
10711                Hawaii     10712  114600.0  108600.0  102400.0   96700.0
10712                Sumter     10713       NaN       NaN       NaN       NaN
10713                Ingham     10714  120900.0  124800.0  128200.0  130200.0
10714                Benton     10715   54700.0   55100.0   55100.0   54700.0
10715              Anderson     10716   37000.0   37500.0   36700.0   36100.0
10716               Madison     10717       NaN       NaN       NaN       NaN
10717            Montgomery     10718       NaN       NaN       NaN       NaN
10718           Saint Marys     10719  137400.0  136900.0  137500.0  138600.0
10719                 Clark     10720       NaN       NaN       NaN       NaN
10720        San Bernardino     10721   76400.0   75600.0   74100.0   73100.0
10721                Greene     10722   77700.0   77500.0   77700.0   78600.0
10722               Henrico     10723  110200.0  110500.0  110900.0  111100.0
10723              Cape May     10724  136500.0  136800.0  137000.0  135200.0
10724                Grundy     10725   24800.0   24300.0   24500.0   25000.0
10725                 Brown     10726       NaN       NaN       NaN       NaN
10726               Steuben     10727   66900.0   65800.0   65500.0   65100.0
10727                 Brown     10728       NaN       NaN       NaN       NaN
10728             Calaveras     10729  115600.0  116400.0  118000.0  119000.0
10729             Sheboygan     10730  129900.0  130200.0  130300.0  129100.0

        ...     2015-11  2015-12  2016-01  2016-02  2016-03  2016-04  2016-05  \
0       ...      573600   576200   578400   582200   588000   592200   592500
1       ...      558200   560800   562800   565600   569700   574000   577800
2       ...      207800   206900   206200   205800   206200   207300   208200
3       ...      122300   121600   121800   123300   125200   126400   127000
4       ...      183800   185300   186600   188000   189100   190200   191300
5       ...      190600   192000   193600   194800   195400   196100   197300
6       ...      525700   526700   527800   529200   531000   533900   536900
7       ...      134600   136600   138700   140600   142200   143300   144500
8       ...      789700   792100   795800   803100   811900   817600   819100
9       ...      132000   132500   133100   133900   134900   136000   137200
10      ...     1105800  1112300  1117400  1122700  1125200  1123200  1119800
11      ...      287300   289300   291100   293400   296000   299200   301800
12      ...       38500    38400    38300    38000    37600    37400    37500
13      ...      115200   115800   116200   116700   117200   117700   118100
14      ...       69600    69800    69900    70800    72000    73100    74300
15      ...      162800   164300   165500   166500   167400   168400   169500
16      ...      110200   110000   110200   110600   111200   111500   111400
17      ...      471000   474600   478700   482900   486200   488000   489700
18      ...      533700   538700   544300   551200   559700   568600   576200
19      ...      113600   114000   114500   114700   114800   114700   114600
20      ...      330500   332100   333500   335600   337600   339700   342700
21      ...      501200   502500   503800   504700   503800   503400   505100
22      ...      189300   191400   193300   195100   196800   198400   200300
23      ...       94600    94300    94200    94600    95200    95900    96300
24      ...      148200   148400   148800   149500   150300   150700   151100
25      ...      343400   347800   351900   356100   360000   364400   369300
26      ...      127300   127700   127600   127700   128400   129000   129300
27      ...      140300   140500   140900   141600   142400   142800   142700
28      ...      167300   167800   168300   169100   169900   170300   170500
29      ...      187600   187700   187900   189000   190200   191200   192700
...     ...         ...      ...      ...      ...      ...      ...      ...
10700   ...      128200   129900   131500   133700   136100   137900   139700
10701   ...      309800   312600   315900   319900   322700   323600   324300
10702   ...      129100   129700   128900   127600   127000   127800   129300
10703   ...      151100   152300   153200   154000   154500   155500   157200
10704   ...      195700   197400   198500   199400   201400   204500   207700
10705   ...      269600   270600   271200   272400   274000   275800   277800
10706   ...      103600   104800   105200   105800   107800   110000   112000
10707   ...       90100    93400    96300    98600   100100   101200   101800
10708   ...      132000   132500   132700   132600   133000   133700   134100
10709   ...      159200   160600   162400   164400   165700   166300   167700
10710   ...     1833700  1854900  1879300  1905900  1928300  1941800  1942000
10711   ...      232500   236400   239700   241800   244700   247800   249600
10712   ...       69000    68500    68200    68500    69900    71900    74100
10713   ...      182700   181800   180800   181000   182600   182900   182200
10714   ...       97200    97400    96900    96300    96300    96600    96600
10715   ...       43200    41700    40800    40500    41100    41700    42000
10716   ...      100200   101100   100200    98900    99200    99600    99900
10717   ...      126400   127600   127300   127300   128400   130000   133000
10718   ...      277200   275800   276300   279500   282200   282900   282900
10719   ...      119800   124100   127200   129500   128000   124800   122700
10720   ...      199700   195300   190400   187500   188000   190000   190600
10721   ...      149800   149100   148000   146900   145700   145000   143700
10722   ...      213800   215100   216000   216200   215900   215900   215900
10723   ...      400100   401600   403100   405000   405500   404500   403800
10724   ...       71800    72900    74500    75700    75800    75900    76600
10725   ...      149900   150100   150300   150000   149200   149900   151400
10726   ...      135700   136400   137700   138700   140500   143600   145000
10727   ...      188700   189800   190800   191200   191200   191700   192800
10728   ...      280400   279600   278000   276600   275000   273700   272000
10729   ...      217800   219400   221100   222000   222800   224900   228000

       2016-06  2016-07  2016-08
0       590200   588000   586400
1       580600   583000   585100
2       209100   211000   213000
3       127400   128300   129100
4       192800   194500   195900
5       198200   199300   200600
6       537900   539000   540500
7       146000   148200   150400
8       820100   821700   822700
9       138400   139500   140300
10     1114800  1108800  1104000
11      303300   304100   304800
12       37500    37700    38100
13      118800   119700   120500
14       75100    75600    76200
15      170400   171700   173100
16      111500   112100   112300
17      493400   499200   504200
18      581800   587200   592200
19      114900   115100   115200
20      345900   349800   353300
21      508900   513900   518600
22      202400   205000   207200
23       96900    98200    99500
24      151700   152400   153000
25      375700   383600   390500
26      129600   130100   130500
27      142500   143100   143800
28      171100   171800   172000
29      194300   195800   197100
...        ...      ...      ...
10700   142600   145700   147200
10701   324600   324500   324700
10702   130700   132900   135500
10703   158800   160100   161400
10704   210200   211900   213300
10705   279800   281700   283200
10706   113000   113500   113700
10707   102700   103300   103500
10708   134500   135700   137000
10709   169900   172500   174500
10710  1948400  1962600  1975000
10711   249500   248500   247200
10712    76800    79600    81800
10713   182100   182800   183200
10714    96700    96900    96800
10715    41700    41100    40600
10716   100400   101000   100900
10717   135600   137000   138500
10718   282100   281400   281400
10719   122200   123100   125300
10720   189000   187100   186200
10721   142600   143200   144800
10722   216800   219000   221300
10723   403400   400700   397300
10724    76900    77200    77800
10725   152500   154100   155900
10726   144000   143000   143000
10727   194000   196300   198900
10728   269100   269000   270900
10729   231200   233900   236000

[10730 rows x 251 columns]

Index(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06',
       '2000-07', '2000-08', '2000-09', '2000-10',
       ...
       '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04',
       '2016-05', '2016-06', '2016-07', '2016-08'],
      dtype='object', length=200)

In [70]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [71]:
df_houses = (df_house.iloc[:,(-16*12-8):].groupby(pd.PeriodIndex(df_house.iloc[:,(-16*12-8):].columns, freq='Q'), axis=1)
             .mean()
             .rename(columns=lambda c: str(c).lower()))

df_houses['State']=df_house['State']
df_houses['RegionName']=df_house['RegionName']

df_houses['State']=df_houses['State'].map(states)

df_houses=df_houses.set_index(['State', 'RegionName'])

print(df_houses)

                                                2000q1        2000q2  \
State                RegionName
New York             New York                      NaN           NaN
California           Los Angeles          2.070667e+05  2.144667e+05
Illinois             Chicago              1.384000e+05  1.436333e+05
Pennsylvania         Philadelphia         5.300000e+04  5.363333e+04
Arizona              Phoenix              1.118333e+05  1.143667e+05
Nevada               Las Vegas            1.326000e+05  1.343667e+05
California           San Diego            2.229000e+05  2.343667e+05
Texas                Dallas               8.446667e+04  8.386667e+04
California           San Jose             3.742667e+05  4.065667e+05
Florida              Jacksonville         8.860000e+04  8.970000e+04
California           San Francisco        4.305000e+05  4.644667e+05
Texas                Austin               1.429667e+05  1.452667e+05
Michigan             Detroit              6.616667e+04  6.830000e+04
Ohio                 Columbus             9.436667e+04  9.583333e+04
Tennessee            Memphis              7.250000e+04  7.320000e+04
North Carolina       Charlotte            1.269333e+05  1.283667e+05
Texas                El Paso              7.626667e+04  7.686667e+04
Massachusetts        Boston               2.069333e+05  2.191667e+05
Washington           Seattle              2.486000e+05  2.556000e+05
Maryland             Baltimore            5.966667e+04  5.950000e+04
Colorado             Denver               1.622333e+05  1.678333e+05
District of Columbia Washington           1.377667e+05  1.442000e+05
Tennessee            Nashville            1.138333e+05  1.152667e+05
Wisconsin            Milwaukee            7.803333e+04  7.906667e+04
Arizona              Tucson               1.018333e+05  1.029667e+05
Oregon               Portland             1.528000e+05  1.547667e+05
Oklahoma             Oklahoma City        7.643333e+04  7.750000e+04
Nebraska             Omaha                1.128000e+05  1.141000e+05
New Mexico           Albuquerque          1.258667e+05  1.267000e+05
California           Fresno               9.410000e+04  9.526667e+04
...                                                ...           ...
Texas                Granite Shoals                NaN           NaN
Maryland             Piney Point          1.556667e+05  1.551667e+05
Wisconsin            Maribel                       NaN           NaN
Idaho                Middleton            1.060667e+05  1.043333e+05
Colorado             Bennett              1.329000e+05  1.358333e+05
New Hampshire        East Hampstead       1.618333e+05  1.691000e+05
Missouri             Garden City                   NaN           NaN
Arkansas             Mountainburg         5.716667e+04  6.433333e+04
Wisconsin            Oostburg             1.072667e+05  1.081000e+05
California           Twin Peaks           9.736667e+04  1.001667e+05
New York             Upper Brookville     1.230967e+06  1.230967e+06
Hawaii               Volcano              9.870000e+04  1.053667e+05
South Carolina       Wedgefield                    NaN           NaN
Michigan             Williamston          1.591667e+05  1.613000e+05
Arkansas             Decatur              6.360000e+04  6.440000e+04
Tennessee            Briceville           4.000000e+04  4.173333e+04
Indiana              Edgewood             9.170000e+04  9.186667e+04
Tennessee            Palmyra                       NaN           NaN
Maryland             Saint Inigoes        1.480667e+05  1.476000e+05
Indiana              Marysville                    NaN           NaN
California           Forest Falls         1.135333e+05  1.144000e+05
Missouri             Bois D Arc           1.078000e+05  1.069667e+05
Virginia             Henrico              1.285667e+05  1.307667e+05
New Jersey           Diamond Beach        1.739667e+05  1.831000e+05
Tennessee            Gruetli Laager       3.540000e+04  3.546667e+04
Wisconsin            Town of Wrightstown  1.017667e+05  1.054000e+05
New York             Urbana               7.920000e+04  8.166667e+04
Wisconsin            New Denmark          1.145667e+05  1.192667e+05
California           Angels               1.510000e+05  1.559000e+05
Wisconsin            Holland              1.510333e+05  1.505000e+05

                                                2000q3        2000q4  \
State                RegionName
New York             New York                      NaN           NaN
California           Los Angeles          2.209667e+05  2.261667e+05
Illinois             Chicago              1.478667e+05  1.521333e+05
Pennsylvania         Philadelphia         5.413333e+04  5.470000e+04
Arizona              Phoenix              1.160000e+05  1.174000e+05
Nevada               Las Vegas            1.354000e+05  1.370000e+05
California           San Diego            2.454333e+05  2.560333e+05
Texas                Dallas               8.486667e+04  8.783333e+04
California           San Jose             4.318667e+05  4.555000e+05
Florida              Jacksonville         9.170000e+04  9.310000e+04
California           San Francisco        4.835333e+05  4.930000e+05
Texas                Austin               1.494667e+05  1.557333e+05
Michigan             Detroit              6.676667e+04  6.703333e+04
Ohio                 Columbus             9.713333e+04  9.826667e+04
Tennessee            Memphis              7.386667e+04  7.400000e+04
North Carolina       Charlotte            1.302000e+05  1.315667e+05
Texas                El Paso              7.673333e+04  7.730000e+04
Massachusetts        Boston               2.331000e+05  2.425000e+05
Washington           Seattle              2.625333e+05  2.674000e+05
Maryland             Baltimore            5.883333e+04  5.950000e+04
Colorado             Denver               1.743333e+05  1.803333e+05
District of Columbia Washington           1.487000e+05  1.477000e+05
Tennessee            Nashville            1.158667e+05  1.169333e+05
Wisconsin            Milwaukee            8.103333e+04  8.233333e+04
Arizona              Tucson               1.044667e+05  1.056667e+05
Oregon               Portland             1.565667e+05  1.574667e+05
Oklahoma             Oklahoma City        7.856667e+04  7.916667e+04
Nebraska             Omaha                1.167333e+05  1.189000e+05
New Mexico           Albuquerque          1.264333e+05  1.267333e+05
California           Fresno               9.646667e+04  9.823333e+04
...                                                ...           ...
Texas                Granite Shoals                NaN           NaN
Maryland             Piney Point          1.584667e+05  1.637000e+05
Wisconsin            Maribel                       NaN           NaN
Idaho                Middleton            1.019000e+05  1.041667e+05
Colorado             Bennett              1.398000e+05  1.446667e+05
New Hampshire        East Hampstead       1.739667e+05  1.805000e+05
Missouri             Garden City                   NaN           NaN
Arkansas             Mountainburg         6.783333e+04  6.900000e+04
Wisconsin            Oostburg             1.124333e+05  1.155000e+05
California           Twin Peaks           1.013333e+05  1.017000e+05
New York             Upper Brookville     1.237700e+06  1.261567e+06
Hawaii               Volcano              1.146667e+05  1.247667e+05
South Carolina       Wedgefield                    NaN           NaN
Michigan             Williamston          1.643000e+05  1.662000e+05
Arkansas             Decatur              6.566667e+04  6.673333e+04
Tennessee            Briceville           4.366667e+04  4.490000e+04
Indiana              Edgewood             9.293333e+04  9.490000e+04
Tennessee            Palmyra                       NaN           NaN
Maryland             Saint Inigoes        1.572333e+05  1.633667e+05
Indiana              Marysville                    NaN           NaN
California           Forest Falls         1.141667e+05  1.111333e+05
Missouri             Bois D Arc           1.071000e+05  1.081000e+05
Virginia             Henrico              1.322667e+05  1.332667e+05
New Jersey           Diamond Beach        1.889667e+05  1.931333e+05
Tennessee            Gruetli Laager       3.666667e+04  3.730000e+04
Wisconsin            Town of Wrightstown  1.113667e+05  1.148667e+05
New York             Urbana               9.170000e+04  9.836667e+04
Wisconsin            New Denmark          1.260667e+05  1.319667e+05
California           Angels               1.581000e+05  1.674667e+05
Wisconsin            Holland              1.532333e+05  1.558333e+05

                                                2001q1        2001q2  \
State                RegionName
New York             New York                      NaN           NaN
California           Los Angeles          2.330000e+05  2.391000e+05
Illinois             Chicago              1.569333e+05  1.618000e+05
Pennsylvania         Philadelphia         5.533333e+04  5.553333e+04
Arizona              Phoenix              1.196000e+05  1.215667e+05
Nevada               Las Vegas            1.395333e+05  1.417333e+05
California           San Diego            2.672000e+05  2.762667e+05
Texas                Dallas               8.973333e+04  8.930000e+04
California           San Jose             4.706667e+05  4.702000e+05
Florida              Jacksonville         9.440000e+04  9.560000e+04
California           San Francisco        4.940667e+05  4.961333e+05
Texas                Austin               1.612333e+05  1.607333e+05
Michigan             Detroit              6.750000e+04  6.836667e+04
Ohio                 Columbus             9.940000e+04  1.002667e+05
Tennessee            Memphis              7.416667e+04  7.493333e+04
North Carolina       Charlotte            1.329333e+05  1.332000e+05
Texas                El Paso              7.823333e+04  7.830000e+04
Massachusetts        Boston               2.496000e+05  2.570667e+05
Washington           Seattle              2.710000e+05  2.724333e+05
Maryland             Baltimore            5.956667e+04  6.013333e+04
Colorado             Denver               1.865000e+05  1.925333e+05
District of Columbia Washington           1.497667e+05  1.551333e+05
Tennessee            Nashville            1.180333e+05  1.191667e+05
Wisconsin            Milwaukee            8.403333e+04  8.556667e+04
Arizona              Tucson               1.072000e+05  1.087667e+05
Oregon               Portland             1.599000e+05  1.618000e+05
Oklahoma             Oklahoma City        7.983333e+04  8.040000e+04
Nebraska             Omaha                1.208667e+05  1.197667e+05
New Mexico           Albuquerque          1.271000e+05  1.277333e+05
California           Fresno               1.005667e+05  1.035667e+05
...                                                ...           ...
Texas                Granite Shoals                NaN           NaN
Maryland             Piney Point          1.634000e+05  1.648333e+05
Wisconsin            Maribel                       NaN           NaN
Idaho                Middleton            1.061667e+05  1.083667e+05
Colorado             Bennett              1.483000e+05  1.521000e+05
New Hampshire        East Hampstead       1.909000e+05  1.950667e+05
Missouri             Garden City                   NaN           NaN
Arkansas             Mountainburg         6.866667e+04  6.386667e+04
Wisconsin            Oostburg             1.191000e+05  1.204333e+05
California           Twin Peaks           1.040000e+05  1.076667e+05
New York             Upper Brookville     1.295167e+06  1.340033e+06
Hawaii               Volcano              1.181333e+05  1.194000e+05
South Carolina       Wedgefield                    NaN           NaN
Michigan             Williamston          1.664333e+05  1.686333e+05
Arkansas             Decatur              6.720000e+04  6.770000e+04
Tennessee            Briceville           4.480000e+04  4.530000e+04
Indiana              Edgewood             9.893333e+04  1.000667e+05
Tennessee            Palmyra                       NaN           NaN
Maryland             Saint Inigoes        1.642333e+05  1.682000e+05
Indiana              Marysville                    NaN           NaN
California           Forest Falls         1.134333e+05  1.130000e+05
Missouri             Bois D Arc           1.107000e+05  1.136667e+05
Virginia             Henrico              1.352333e+05  1.367333e+05
New Jersey           Diamond Beach        1.944000e+05  2.102667e+05
Tennessee            Gruetli Laager       3.773333e+04  3.790000e+04
Wisconsin            Town of Wrightstown  1.259667e+05  1.299000e+05
New York             Urbana               9.486667e+04  9.853333e+04
Wisconsin            New Denmark          1.438000e+05  1.469667e+05
California           Angels               1.768333e+05  1.837667e+05
Wisconsin            Holland              1.618667e+05  1.657333e+05

                                                2001q3        2001q4  \
State                RegionName
New York             New York                      NaN           NaN
California           Los Angeles          2.450667e+05  2.530333e+05
Illinois             Chicago              1.664000e+05  1.704333e+05
Pennsylvania         Philadelphia         5.626667e+04  5.753333e+04
Arizona              Phoenix              1.227000e+05  1.243000e+05
Nevada               Las Vegas            1.433667e+05  1.461333e+05
California           San Diego            2.845000e+05  2.919333e+05
Texas                Dallas               8.906667e+04  9.090000e+04
California           San Jose             4.568000e+05  4.455667e+05
Florida              Jacksonville         9.706667e+04  9.906667e+04
California           San Francisco        5.041000e+05  5.134000e+05
Texas                Austin               1.595333e+05  1.600333e+05
Michigan             Detroit              6.926667e+04  6.996667e+04
Ohio                 Columbus             1.010667e+05  1.022000e+05
Tennessee            Memphis              7.550000e+04  7.606667e+04
North Carolina       Charlotte            1.328000e+05  1.331000e+05
Texas                El Paso              7.743333e+04  7.680000e+04
Massachusetts        Boston               2.669333e+05  2.749667e+05
Washington           Seattle              2.741667e+05  2.781667e+05
Maryland             Baltimore            6.210000e+04  6.340000e+04
Colorado             Denver               1.964000e+05  1.991000e+05
District of Columbia Washington           1.646333e+05  1.725333e+05
Tennessee            Nashville            1.201000e+05  1.208000e+05
Wisconsin            Milwaukee            8.706667e+04  8.840000e+04
Arizona              Tucson               1.105667e+05  1.128000e+05
Oregon               Portland             1.642667e+05  1.677667e+05
Oklahoma             Oklahoma City        8.113333e+04  8.173333e+04
Nebraska             Omaha                1.178667e+05  1.174000e+05
New Mexico           Albuquerque          1.285667e+05  1.299000e+05
California           Fresno               1.072333e+05  1.103000e+05
...                                                ...           ...
Texas                Granite Shoals                NaN           NaN
Maryland             Piney Point          1.647000e+05  1.679000e+05
Wisconsin            Maribel                       NaN           NaN
Idaho                Middleton            1.110333e+05  1.112333e+05
Colorado             Bennett              1.542333e+05  1.562000e+05
New Hampshire        East Hampstead       1.992667e+05  2.074000e+05
Missouri             Garden City                   NaN           NaN
Arkansas             Mountainburg         6.376667e+04  6.546667e+04
Wisconsin            Oostburg             1.203667e+05  1.196333e+05
California           Twin Peaks           1.098333e+05  1.111333e+05
New York             Upper Brookville     1.403667e+06  1.481933e+06
Hawaii               Volcano              1.232667e+05  1.211667e+05
South Carolina       Wedgefield                    NaN           NaN
Michigan             Williamston          1.716667e+05  1.750333e+05
Arkansas             Decatur              6.650000e+04  6.540000e+04
Tennessee            Briceville           4.463333e+04  4.370000e+04
Indiana              Edgewood             1.008333e+05  1.010000e+05
Tennessee            Palmyra                       NaN           NaN
Maryland             Saint Inigoes        1.665000e+05  1.653333e+05
Indiana              Marysville                    NaN           NaN
California           Forest Falls         1.130333e+05  1.151667e+05
Missouri             Bois D Arc           1.126333e+05  1.127333e+05
Virginia             Henrico              1.386000e+05  1.413333e+05
New Jersey           Diamond Beach        2.302667e+05  2.486667e+05
Tennessee            Gruetli Laager       3.936667e+04  4.040000e+04
Wisconsin            Town of Wrightstown  1.299000e+05  1.294333e+05
New York             Urbana               1.029667e+05  9.803333e+04
Wisconsin            New Denmark          1.483667e+05  1.491667e+05
California           Angels               1.902333e+05  1.845667e+05
Wisconsin            Holland              1.680333e+05  1.674000e+05

                                                2002q1        2002q2  \
State                RegionName
New York             New York                      NaN           NaN
California           Los Angeles          2.619667e+05  2.727000e+05
Illinois             Chicago              1.755000e+05  1.775667e+05
Pennsylvania         Philadelphia         5.913333e+04  6.073333e+04
Arizona              Phoenix              1.265333e+05  1.283667e+05
Nevada               Las Vegas            1.493333e+05  1.509333e+05
California           San Diego            3.012333e+05  3.128667e+05
Texas                Dallas               9.256667e+04  9.380000e+04
California           San Jose             4.414333e+05  4.577667e+05
Florida              Jacksonville         1.012333e+05  1.034333e+05
California           San Francisco        5.204333e+05  5.381667e+05
Texas                Austin               1.589667e+05  1.575000e+05
Michigan             Detroit              7.100000e+04  7.233333e+04
Ohio                 Columbus             1.034000e+05  1.048000e+05
Tennessee            Memphis              7.633333e+04  7.676667e+04
North Carolina       Charlotte            1.343667e+05  1.353667e+05
Texas                El Paso              7.660000e+04  7.640000e+04
Massachusetts        Boston               2.825000e+05  2.893000e+05
Washington           Seattle              2.805000e+05  2.846000e+05
Maryland             Baltimore            6.366667e+04  6.490000e+04
Colorado             Denver               2.012333e+05  2.024333e+05
District of Columbia Washington           1.805000e+05  1.933000e+05
Tennessee            Nashville            1.215667e+05  1.226333e+05
Wisconsin            Milwaukee            8.953333e+04  9.136667e+04
Arizona              Tucson               1.150000e+05  1.172000e+05
Oregon               Portland             1.707667e+05  1.741333e+05
Oklahoma             Oklahoma City        8.260000e+04  8.343333e+04
Nebraska             Omaha                1.180667e+05  1.176333e+05
New Mexico           Albuquerque          1.310667e+05  1.321000e+05
California           Fresno               1.140333e+05  1.185333e+05
...                                                ...           ...
Texas                Granite Shoals                NaN           NaN
Maryland             Piney Point          1.782667e+05  1.812000e+05
Wisconsin            Maribel                       NaN           NaN
Idaho                Middleton            1.141000e+05  1.141667e+05
Colorado             Bennett              1.587333e+05  1.606333e+05
New Hampshire        East Hampstead       2.123000e+05  2.122333e+05
Missouri             Garden City                   NaN           NaN

In [72]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return df_houses

In [73]:
df_ttest=df_houses[[get_recession_start(), get_recession_bottom(), get_recession_end()]]

df_ttest['ratio']=df_ttest[get_recession_start()]/df_ttest[get_recession_bottom()]
print(df_ttest.head())
df_ttest=df_ttest['ratio']

print(type(df_ttest))
df_ttest=df_ttest.reset_index()
print(type(df_ttest))
print(df_ttest) # [10730 rows x 3 columns]
print(df_Utowns) # [517 rows x 2 columns]

                                  2008q2         2009q2         2009q4  \
State        RegionName
New York     New York      503933.333333  465833.333333  458366.666667
California   Los Angeles   502266.666667  413900.000000  404333.333333
Illinois     Chicago       237900.000000  219700.000000  211666.666667
Pennsylvania Philadelphia  118133.333333  116166.666667  118566.666667
Arizona      Phoenix       205266.666667  168233.333333  143466.666667

                              ratio
State        RegionName
New York     New York      1.081789
California   Los Angeles   1.213498
Illinois     Chicago       1.082840
Pennsylvania Philadelphia  1.016930
Arizona      Phoenix       1.220131
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
                      State           RegionName     ratio
0                  New York             New York  1.081789
1                California          Los Angeles  1.213498
2                  Illinois              Chicago  1.082840
3              Pennsylvania         Philadelphia  1.016930
4                   Arizona              Phoenix  1.220131
5                    Nevada            Las Vegas  1.413590
6                California            San Diego  1.133248
7                     Texas               Dallas  1.097685
8                California             San Jose  1.153561
9                   Florida         Jacksonville  1.139172
10               California        San Francisco  1.127530
11                    Texas               Austin  1.047712
12                 Michigan              Detroit  1.141986
13                     Ohio             Columbus  1.034012
14                Tennessee              Memphis  1.110526
15           North Carolina            Charlotte  1.065184
16                    Texas              El Paso  0.992137
17            Massachusetts               Boston  1.070008
18               Washington              Seattle  1.131263
19                 Maryland            Baltimore  1.032188
20                 Colorado               Denver  1.050454
21     District of Columbia           Washington  1.077943
22                Tennessee            Nashville  1.029751
23                Wisconsin            Milwaukee  1.124215
24                  Arizona               Tucson  1.098763
25                   Oregon             Portland  1.039554
26                 Oklahoma        Oklahoma City  1.019919
27                 Nebraska                Omaha  1.016904
28               New Mexico          Albuquerque  0.996758
29               California               Fresno  1.264370
...                     ...                  ...       ...
10700                 Texas       Granite Shoals       NaN
10701              Maryland          Piney Point  1.076788
10702             Wisconsin              Maribel       NaN
10703                 Idaho            Middleton  1.134488
10704              Colorado              Bennett  1.066555
10705         New Hampshire       East Hampstead  1.101909
10706              Missouri          Garden City       NaN
10707              Arkansas         Mountainburg  0.980575
10708             Wisconsin             Oostburg  1.062945
10709            California           Twin Peaks  1.182234
10710              New York     Upper Brookville  1.074505
10711                Hawaii              Volcano  1.216234
10712        South Carolina           Wedgefield       NaN
10713              Michigan          Williamston  1.172748
10714              Arkansas              Decatur  0.977849
10715             Tennessee           Briceville  1.072191
10716               Indiana             Edgewood  0.933566
10717             Tennessee              Palmyra       NaN
10718              Maryland        Saint Inigoes  1.089441
10719               Indiana           Marysville       NaN
10720            California         Forest Falls  1.203214
10721              Missouri           Bois D Arc  0.890094
10722              Virginia              Henrico  1.053978
10723            New Jersey        Diamond Beach  1.087641
10724             Tennessee       Gruetli Laager  0.732081
10725             Wisconsin  Town of Wrightstown  1.035443
10726              New York               Urbana  0.938968
10727             Wisconsin          New Denmark  0.969991
10728            California               Angels  1.159675
10729             Wisconsin              Holland  1.135721

[10730 rows x 3 columns]
             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [74]:
row=df_ttest.iloc[23,0:2]
utowns=df_Utowns.copy()
utowns['row1']=row[0]
utowns['row2']=row[1]
row2=utowns.iloc[-8,0:2]

print(type(row))
print(df_Utowns.head())
print(utowns.head())

print(row[1])
print(row2[1])
print(len(row[1]))
print(len(row2[1]))

print(row[1] == row2[1])

print(row==['Wisconsin', 'Milwaukee'])


x=lambda row1, row2: sum(row1==row2)
x(row, row2)

<class 'pandas.core.series.Series'>
     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo
     State    RegionName       row1       row2
0  Alabama        Auburn  Wisconsin  Milwaukee
1  Alabama      Florence  Wisconsin  Milwaukee
2  Alabama  Jacksonville  Wisconsin  Milwaukee
3  Alabama    Livingston  Wisconsin  Milwaukee
4  Alabama    Montevallo  Wisconsin  Milwaukee
Milwaukee
Milwaukee
9
9
True
State         True
RegionName    True
Name: 23, dtype: bool

2

In [75]:
def town_in_university_towns(utowns):
    x=utowns.apply(lambda row: row[0]==row[2] and row[1]==row[3] , axis=1)
    if sum(x)==0: return 0
    else:return 1

town_in_university_towns(utowns)

1

In [76]:
df_ttest['Utown']=0
for i in range(len(df_ttest)):
    row=df_ttest.iloc[i][['State', 'RegionName']]
    utowns=df_Utowns.copy()
    utowns['row1']=row[0]
    utowns['row2']=row[1]
    df_ttest['Utown'][i]=town_in_university_towns(utowns)

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [77]:
#df_ttest['Utown']=0

#%for i in range(len(df_ttest)):
#    house=df_ttest.iloc[i][['State', 'RegionName']]
#    for j in range(len(df_Utowns)):
#        utown=df_Utowns.iloc[j][['State', 'RegionName']]
#        
#        if sum(house==utown)==2:
#            df_ttest['Utown'][i]=1

#print(df_ttest['Utown'])

In [78]:
print(sum(df_ttest['Utown']))
print(df_ttest)

269
                      State           RegionName     ratio  Utown
0                  New York             New York  1.081789      0
1                California          Los Angeles  1.213498      0
2                  Illinois              Chicago  1.082840      0
3              Pennsylvania         Philadelphia  1.016930      0
4                   Arizona              Phoenix  1.220131      0
5                    Nevada            Las Vegas  1.413590      1
6                California            San Diego  1.133248      1
7                     Texas               Dallas  1.097685      1
8                California             San Jose  1.153561      0
9                   Florida         Jacksonville  1.139172      0
10               California        San Francisco  1.127530      0
11                    Texas               Austin  1.047712      1
12                 Michigan              Detroit  1.141986      0
13                     Ohio             Columbus  1.034012      1
14                Tennessee              Memphis  1.110526      1
15           North Carolina            Charlotte  1.065184      0
16                    Texas              El Paso  0.992137      0
17            Massachusetts               Boston  1.070008      1
18               Washington              Seattle  1.131263      0
19                 Maryland            Baltimore  1.032188      0
20                 Colorado               Denver  1.050454      0
21     District of Columbia           Washington  1.077943      0
22                Tennessee            Nashville  1.029751      1
23                Wisconsin            Milwaukee  1.124215      1
24                  Arizona               Tucson  1.098763      1
25                   Oregon             Portland  1.039554      0
26                 Oklahoma        Oklahoma City  1.019919      0
27                 Nebraska                Omaha  1.016904      0
28               New Mexico          Albuquerque  0.996758      0
29               California               Fresno  1.264370      0
...                     ...                  ...       ...    ...
10700                 Texas       Granite Shoals       NaN      0
10701              Maryland          Piney Point  1.076788      0
10702             Wisconsin              Maribel       NaN      0
10703                 Idaho            Middleton  1.134488      0
10704              Colorado              Bennett  1.066555      0
10705         New Hampshire       East Hampstead  1.101909      0
10706              Missouri          Garden City       NaN      0
10707              Arkansas         Mountainburg  0.980575      0
10708             Wisconsin             Oostburg  1.062945      0
10709            California           Twin Peaks  1.182234      0
10710              New York     Upper Brookville  1.074505      0
10711                Hawaii              Volcano  1.216234      0
10712        South Carolina           Wedgefield       NaN      0
10713              Michigan          Williamston  1.172748      0
10714              Arkansas              Decatur  0.977849      0
10715             Tennessee           Briceville  1.072191      0
10716               Indiana             Edgewood  0.933566      0
10717             Tennessee              Palmyra       NaN      0
10718              Maryland        Saint Inigoes  1.089441      0
10719               Indiana           Marysville       NaN      0
10720            California         Forest Falls  1.203214      0
10721              Missouri           Bois D Arc  0.890094      0
10722              Virginia              Henrico  1.053978      0
10723            New Jersey        Diamond Beach  1.087641      0
10724             Tennessee       Gruetli Laager  0.732081      0
10725             Wisconsin  Town of Wrightstown  1.035443      0
10726              New York               Urbana  0.938968      0
10727             Wisconsin          New Denmark  0.969991      0
10728            California               Angels  1.159675      0
10729             Wisconsin              Holland  1.135721      0

[10730 rows x 4 columns]

In [89]:
df_Ut=df_ttest[df_ttest['Utown']==1]['ratio'].dropna()
df_Nt=df_ttest[df_ttest['Utown']==0]['ratio'].dropna()
print(len(df_Ut), len(df_Nt))  # 269 10461  # 257 9599
#print(df_Ut, df_Nt)
result=ttest_ind(df_Ut, df_Nt)[1]

#results=ttest_ind(df_Ut,df_Nt)[2]

257 9599

In [90]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    better="university town"
    if df_Ut.mean()>df_Nt.mean(): better="non-university twon"
    
    pval=0.01
    if result <= pval: return ["True",  result, better]
    if result > pval: return ["False", result, better]
run_ttest()

['True', 0.0027240637047614541, 'university town']